@use "../../../scss/breakpoint.scss" as *;

.tv_toprate-list {
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}